@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}

body{
    /*bg*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*text*/
    color: #fff;
    font-family: heebo , sans-serif;

    /*flex*/
    display: flex;
    flex-direction: column;
}

/* navbar */
nav{
    background-color: rgba(23, 32, 54, 0.7);
    width: 60% ;
    margin-top: 30px;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    padding: 30px 0;
}
.nav-line{
    height: 2px;
    width: 30%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(42, 51, 74, 0.9);
    transform: translate(40% ,-45px );

}
.nav-word{
    opacity: 0.7;
    font-weight: 300;
  
}
/*bottom of page*/

.bottom-of-page{
    display: flex;
    justify-content: space-evenly;
}

/* text */


.med-text{
    font-size: 28px ;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}



.small-text{
    opacity: 0.6;
    line-height: 2em;
}
.low-opacity{
    opacity: 0.5;
}

@media (max-width:934px) {
    nav{
        margin-top: 0;
        width: 80%;
        
    }
    .nav-line{
        visibility: hidden;
    }
    
}

@media (max-width:576px) {

    nav{
        width: 100%;

    }


}
@media (max-width:576px) {
    .small-text{
        line-height: 2.5em;
    }
}
